@keyframes roll {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

body {
    animation-name: roll;
    animation-duration: 3s;
    animation-iteration-count: 1;
}