#alpha {
    background: url(/illuminati.png) !important;
    background-position: center !important;
}

#glitch {
    display: none !important;
}

body {
    cursor: url(/illuminaticursor.png), default !important;
}