#alpha {
    background: url(/illuminati.png) !important;
    background-position: center !important;
}

#glitch {
    display: none !important;
}

body {
    cursor: url(/illuminaticursor.png), default !important;
}

#delta>img,
#mail>img {
    filter: drop-shadow(0px 0px 4px #262626);
}