#alpha {
    background: url(/img/illuminati.png) !important;
    background-position: center !important;
}

#glitch {
    display: none !important;
}

body {
    cursor: url(/img/illuminaticursor.png), default !important;
}