#alpha {
    background: url(/img/illuminati.png) !important;
    background-position: center !important;
}

#glitch1,
#glitch2 {
    visibility: hidden !important;
}

body {
    cursor: url(/img/illuminaticursor.png), default !important;
}