#alpha {
    background: url(/img/nyan.gif) !important;
    background-position: center !important;
}

#glitch {
    display: none !important;
}

body {
    cursor: url(/img/nyancursor.gif), default !important;
}