#alpha {
    background: url(/img/nyan.gif) !important;
    background-position: center !important;
}

#glitch1,
#glitch2 {
    visibility: hidden !important;
}

body {
    cursor: url(/img/nyancursor.gif), default !important;
}